:root {
  --bg-color: #EBEBEB;
  --text-color: #333;
  --border-color: #4D4D4D;
  --primary-color: #0D6EFD;
  --placeholder-color: #999;
  --shadow-sm: 0 4px 8px rgba(0, 0, 0, 0.1);
  --shadow-md: 0 4px 8px rgba(0, 0, 0, 0.2);
}

body {
  background-color: var(--bg-color);
  font-family: 'Montserrat', sans-serif;
  color: var(--text-color);
}

.createPost {
  width: 75%;
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

h2 {
  margin-bottom: 20px;
  font-size: 2.5rem;
  font-weight: 400;
  text-align: center;
}
h3{
  font-size: 1.5rem;
  margin-bottom: 10px;
}

.createPost form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input[type="text"],
#postContent,
.createPost p {
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  box-shadow: var(--shadow-md);
  font-size: 1rem;
  color: var(--text-color);
}

#postContent {
  height: 150px;
  resize: vertical;
  overflow: auto;
}

.createPost p {
  background-color: white;
  padding: 10px;
  border: 1px solid var(--border-color);
  box-shadow: var(--shadow-md);
  border-radius: 4px;
  min-height: 40px;
  white-space: pre-wrap;
  word-break: break-word;
  overflow-wrap: anywhere;
}

input[type="text"]:focus,
#postContent:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 5px rgba(13, 110, 253, 0.5);
}

::placeholder {
  color: var(--placeholder-color);
}

.buttons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.buttons button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  box-shadow: var(--shadow-sm);
  font-size: 0.8rem;
  font-weight: 600;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  transition: all 0.3s;
}

.buttons button:hover {
  background-color: white;
  color: var(--primary-color);
}